/* Categories */

.security-identity-compliance {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Security-Identity-and-Compliance.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.storage {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Storage.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.database {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Database.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.compute {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Compute.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.migrate-Transfer {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Migration-and-Transfer.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.networking-content-delivery {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Networking-and-Content-Delivery.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.management-governance {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Management-and-Governance.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.developer-tools {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Developer-Tools.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.analytics {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Analytics.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.application-integration {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Application-Integration.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cost-management {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Cost-Management.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.end-user-computing {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/End-User-Computing.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Services */

/* security-identity-compliance */

.iam {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Identity-and-Access-Management_IAM.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.ram {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Resource-Access-Manager.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cognito {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Cognito.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.secrets-manager {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Secrets-Manager.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.guardDuty {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-GuardDuty.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.macie {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Macie.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.kms {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Key-Management-Service.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cloudHSM {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-CloudHSM.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.directory-service {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Directory-Service.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.waf {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-WAF.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.shield {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Shield.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* storage */

.s3 {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Simple-Storage-Service-S3.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.efs {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Elastic-File-System_EFS.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.ebs {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Elastic-Block-Store-EBS.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.fsx {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-FSx.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.storage-gateway {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Storage-Gateway.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* database */

.rds {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-RDS.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.dynamoDB {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-DynamoDB.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.elasticache {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-ElastiCache.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* compute */

.ec2 {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-EC2.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.lambda {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Lambda.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.elastic-beanstalk {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Elastic-Beanstalk.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.ecs {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Elastic-Container-Service.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Migration & Transfer */

.dms {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Database-Migration-Service.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.datasync {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-DataSync.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.snow {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Snowball.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Networking & Content Delivery */

.vpc {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-VPC.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cloudfront {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-CloudFront.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.route53 {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Route-53.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.api-gateway {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-API-Gateway.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.direct-connect {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Direct-Connect.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.global-accelerator {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Global-Accelerator.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Management & Governance */

.organizations {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Organizations.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cloudwatch {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-CloudWatch.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cloudtrail {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-CloudTrail.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.opsworks {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-OpsWorks.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.autoscaling {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Auto-Scaling.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.parameterstore {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Systems-Manager_Parameter-Store.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.cloudformation {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-CloudFormation.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.well-architected-tool {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Well-Architected-Tool.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Developer Tools */

.x-ray {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-X-Ray.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Analytics */

.athena {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Athena.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.redshift {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Redshift.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.emr {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-EMR.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.kinesis {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Kinesis.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.data-pipeline {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Data-Pipeline.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* Application Integration */

.sns {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Simple-Notification-Service-SNS.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.sqs {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Simple-Queue-Service-SQS.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.swf {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Express-Workflows.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

.step-functions {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/AWS-Step-Functions.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}

/* End User Computing */

.desktop-workspaces {
  padding: 50px 50px;
  margin-left: 30px;
  background-image: url($icons-path + "/icons/aws/Amazon-Workspaces.svg");
  background-repeat: no-repeat;
  background-position: 5px 50%;
  background-size: 64px 64px;
}
